* {
  margin: 0;
  padding: 0;
}

.body {
  margin-left: 5%;
  margin-right: 5%;
}

/* 背景 */
.background {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* 滚动箭头 */
.jiantou {
  width: 20%;
  margin-left: auto;
}

/* 文字图片 */
.Img {
  width: 20%;
  margin-top: 5%;
  vertical-align: text-bottom;
}
.Imgsmall {
  width: 30%;
  margin-top: 5%;
  vertical-align: text-bottom;
}

/* 单选框图片 */
.choImg {
  width: 1.2em;
  vertical-align: text-bottom;
}

/* 单选字体 */
.font {
  font-size: 1.2em;
  color: white;
}

/* 自我介绍输入框 */
.introTextarea {
  resize: none;
  width: 100%;
  border: 0;
  font-size: 1.4em;
  line-height: 1.4em;
}

/* 设置输入框与图片距离 */
.content {
  display: inline;
}

/* 美化select */
select {
  height: 2em;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 1em;
  padding: 0 1em;
  width: 74.10074074074074%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 0;
  color: #333333;
  border-radius: 1em;
}

/* 提交按钮 */
.sub {
  height: 45%;
  width: 45%;
}

/* 居中 */
.center {
  text-align: center;
}

/* 错误信息 */
.error {
  font-size: 1.5em;
  height: 50px;
  color: red;
}

.fuck {
  transition: all 1s;
}

.back {
  margin-top: 3%;
  margin-left: 3%;
  width: 5%;
}

/* 输入框 */
.text {
  font-size: 1.2em;
  width: 65%;
  border: 0;
  height: 1.6em;
  border-radius: 0.8em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}


/* 单选框美化 */
.switch {
  display: flex;
  align-items: center;
  float: left;
  margin-top: 4.5%;

}
.radio-beauty-container .radio-beauty {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  /* display: inline-block; */
  border: 1px solid #d7d7d7;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.2s;
}
.radio-beauty-container input[type="radio"]:checked+.radio-beauty {
  border: solid 1px white;
  padding: 3px;
  background-color: white;
  background-clip: content-box;
  box-shadow: inset 0 0 1px rgba(0,128,0, 0.2), 0 0 3px green;
}