.hide {
    display: none;
  }
  
  .title {
    margin: 5% auto 0 auto;
    text-align: center;
  }
  /* .intro{
  
  } */
  .intro > p{
      font-size: 1.2em;
      margin:40% 7% 0 7%;
  }
  
  .left{
      position: absolute;
      left:1%;
      height: 4%;

      top:50%;
  
  }
  .right{
      position: absolute;
      right: 1%;
      height: 4%;

      top:50%;
  
  }
  
  .firstTip{
      display: none;
      position: fixed;
      right: 20%;
      /* left:36%;
      right: 0; */
      top:35%;
      padding:3%;
      width: 50%;
      border-radius: 1em;
      background-color: rgb(228, 72, 72);
      color: white;
  }
  .lastTip{
      display: none;
      position: fixed;
      /* left:36%; */
      right: 20%;
      top:35%;
      padding:3%;
      width: 50%;
      border-radius: 1em;
      background-color: rgb(228, 72, 72);
      color: white;
  }
  .tip{
      text-align: center;
  }