.title{
    position: relative;
    /* top:10%; */
    margin-top: 30%;

    text-align: center;
    animation: fade ease 5s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
.a{
    position: relative;
    /* left:20%; */
    /* right: 20%; */
    margin: 10% 40%;
    text-align: center;
    /* background-color: #ff9100; */
    padding-top: 1%;
    padding-bottom: 1%;
}
a{
    text-decoration: none;
}
.totala{
    margin-top: 10%;
}