.hide {
  display: none;
}

.title {
  margin: 5% auto 0 auto;
  text-align: center;
}
/* .intro{

} */
.intro > p{
    font-size: 2em;
    margin:5% 35% 0 35%;
}

.left{
    position: absolute;
    left:25%;
    height: 8%;
    top:50%;

}
.right{
    position: absolute;
    left: 68.9%;
    height: 8%;
    top:50%;

}

.firstTip{
    display: none;
    position: fixed;
    left:36%;
    right: 0;
    top:35%;
    padding:5em 5em;
    width: 15%;
    border-radius: 1em;
    background-color: rgb(228, 72, 72);
    color: white;
}
.lastTip{
    display: none;
    position: fixed;
    left:36%;
    right: 0;
    top:35%;
    padding:5em 5em;
    width: 15%;
    border-radius: 1em;
    background-color: rgb(228, 72, 72);
    color: white;
}
.tip{
    text-align: center;
}